[submodule "vim"]
	path = vim
	url = git@github.com:Potatohead/config-vim.git
[submodule "xmonad"]
	path = xmonad
	url = git@github.com:Potatohead/config-xmonad.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
